<div class="row mt-5 justify-content-center">
  <div class="col-md-6 text-center">
    <h1>{{ 'LOGIN.HEADER' | translate }}</h1>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="form-group">
        <label for="email">{{ 'LABELS.EMAIL' | translate }}</label>
        <input id="email" type="email" name="email" class="form-control" ngModel required email />
      </div>
      <div class="form-group">
        <label for="password">{{ 'LABELS.PASSWORD' | translate }}</label>
        <input id="password" type="password" name="password" class="form-control" ngModel required minlength="3" />
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-success" [disabled]="!loginForm.valid">{{ 'BUTTONS.SIGN_IN' | translate }}</button>
      </div>
    </form>
    <div *ngIf="error" class="alert alert-danger">
      <p>{{error}}</p>
    </div>
  </div>
</div>
